{% extends 'computadora/base.html' %}

{% block content %}
<h1>LISTADO DE COMPUTADORAS</h1>

<table border="1">
    <thead>
        <tr>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Capacidad HD (GB)</th>
            <th>Capacidad RAM (GB)</th>
            <th>Precio ($)</th>
            <th>Usuario</th>
        </tr>
    </thead>
    <tbody>
        {% for computadora in computadoras %}
        <tr>
            <td>{{ computadora.modelo }}</td>
            <td>{{ computadora.marca }}</td>
            <td>{{ computadora.cap_hd }}</td>
            <td>{{ computadora.cap_ram }}</td>
            <td>{{ computadora.precio }}</td>
            <td>{{ computadora.usuario.username }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
